#s-435c463b-2a69-4734-9266-483644356ec4 #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-Row_cell_1 {
  position: relative;
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-Row_cell_3 {
  position: relative;
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-Row_cell_5 {
  position: relative;
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-Row_cell_7 {
  position: relative;
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-InformesList .s-Row_cell_2 {
  position: relative;
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-InformesList .s-Row_cell_4 {
  position: relative;
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-InformesList .s-Row_cell_6 {
  position: relative;
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-InformesList .s-Row_cell_8 {
  position: relative;
}
#s-435c463b-2a69-4734-9266-483644356ec4 #s-InformesList .s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-435c463b-2a69-4734-9266-483644356ec4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}