#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Table_1 {
  border-collapse: separate;
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9a2f42cf-c509-41eb-ad4e-7586f2973a3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}