#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-arrow-back_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-PaseVisitaData .s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b5f50f12-83f9-4ef7-b366-82243f759ff8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}