#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 303px;
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0d89c037-42d6-4873-870c-3f38b08e522c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}