#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-arrow-back_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-52282674-030c-48f4-85ad-9e1dd0d44341 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}