#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-arrow-back_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5e176db4-ecb7-499a-a7b7-dbca058d51e0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}