#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-arrow-back_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d399b532-0639-4f85-b8e6-0bc1d66ae874 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}