#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Table_1 {
  border-collapse: separate;
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d81df34f-d9ec-42b6-aa0d-ccb55fd110cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}