#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b #m-a7fb9ca7-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}