#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b #m-a7fb9ca7-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  border-radius: 10px 10px 10px 10px;
  -ms-transform: rotate(0.0deg);
}
#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}