#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b #m-a7fb9ca7-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F3F3F3;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none;
}
#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b #m-a7fb9ca7-Rectangle_1 {
  position: absolute;
  width: 96px;
  height: 95px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b #m-a7fb9ca7-Rectangle_1 > .clipping, #m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b #m-a7fb9ca7-Rectangle_1 > .paddingLayer {
  height: 93px;
  width: 94px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b #m-a7fb9ca7-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b #m-a7fb9ca7-Rectangle_1 span {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b #m-a7fb9ca7-Rectangle_1 span#rtr-m-a7fb9ca7-Rectangle_1_0 {
  color: #F3F3F3;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-a7fb9ca7-89df-47cc-adb2-9a9a7554d77b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}